.chart-app {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.radar-chart {
    box-sizing: border-box;
    margin: 1.5rem;
    height: 100%;
    /* width: 400px; */
    flex: 1;
}

@import "reset-css";

html {
    --text-title: rgba(31, 35, 41, 1);
}

.ant-btn-primary {
    background-color: rgba(20, 86, 240, 1);
}

.main {
    display: flex;
    box-sizing: border-box;
    height: 100vh;
}

.content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 0;
}

.config-panel {
    width: 340px;
    flex: none;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    flex-direction: column;
    
    padding: 20px;
    box-sizing: border-box;
    margin-right: 1px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.config-panel::-webkit-scrollbar {
    width: 8px;
}

.config-panel::-webkit-scrollbar-track {
    background: #ffffff00;
}

.config-panel::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-bg, #BBBDBE);
    border-radius: 10px;
}

.config-panel::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover-bg, #797B7F);
}

.form {
    flex-grow: 1;
}

.form-item {
    margin-bottom: 16px;
    color: var(--text-title);
}

.form-select {
    background-color: var(--semi-color-bg-2);
    border-radius: 6px;
    border: 1px solid var(--semi-color-border);

}

.semi-select-option-list {
    margin-right: 3px;
}

.semi-select-option-list::-webkit-scrollbar {
    width: 8px;
}

.semi-select-option-list::-webkit-scrollbar-track {
    background: #ffffff00;
}

.semi-select-option-list::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-bg, #BBBDBE);
    border-radius: 10px;
}

.semi-select-option-list::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover-bg, #797B7F);
}

.childSelect:focus {
    border-color: #ffffff00;
}


.ant-picker {
    width: 100%;
}

.checkbox-group {
    row-gap: 8px;
}

.label {
    padding-bottom: 8px;
    font-family: PingFang SC;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
}

.btn {
    align-self: flex-end;
}

.colorPicker {
    background-color: var(--semi-color-bg-2);
}

.semi-tabs-bar {
    justify-content: center;
    display: flex;
}

.semi-tabs-content {
    padding: 0 !important;
}

.form-label {
    width: 100%;
    padding: 0 !important;
}

.semi-form-field-label-text {
    font-weight: 400;
}

.semi-slider {
    padding: 0 !important;
}